@media screen and (max-width:900px) {
    .tags {
        display: none
    }
  }
.tagsbq {
    background: rgb(131 234 255 / 19%) !important;
}
#aside-content>.card-widget.card-info {
    height: 570px !important;
}