@charset "UTF-8";

/* 作者文章列表链接 */

.categoryItem {
	overflow: hidden;
	width: calc(100% / 3 - 0.33rem);
    height: auto;
	border-radius: 12px;
	transition: all 0.8s cubic-bezier(0.65, 0.15, 0.37, 1.19);
	transform: scale(1);
}

a.categoryButton {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: var(--heo-card-bg);
	color: var(--heo-white);
	text-align: left;
	font-weight: bold;
	font-size: 0.9rem;
	font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei;
	line-height: 4em;
	transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
	transform: scale(1);
}

a.categoryButton:after {
	position: absolute;
	top: 50px;
	left: 21px;
	width: 1rem;
	height: 2px;
	border-radius: 1px;
	background: var(--heo-white);
	content: "";
}

.categoryButtonText {
	padding-left: 21px;
}

a.categoryButton i {
	position: absolute;
	top: 20%;
	right: 0%;
	width: 100px;
	text-align: center;
	font-size: 5rem;
	opacity: 0.2;
	transition: 0.3s;
	filter: blur(2px);
}

.categoryItem:hover i {
	font-size: 2.5rem;
	opacity: 0.8;
	transition: 0.8s;
	transition-delay: 0.15s;
	transform: scale(1.03) rotate(0deg);
	filter: blur(0px);
}


@media screen and (min-width: 1300px) {
	.recent-post-top .categoryGroup {
	  flex-direction: row;
	  height: 24%;
	}
  
	.categoryItem {
	  width: calc(100% / 3 - 0.33rem);
	  height: 100%;
	  margin-right: 0.5rem;
	}
  
	.categoryItem:last-child {
	  margin-right: 0;
	}
  
	.categoryItem:hover {
	  width: 50%;
	}
  
	.categoryGroup .categoryItem:nth-child(3) {
	  display: flex;
	  margin-right: 0rem !important;
	}
  }
  
a.categoryButton.bikan {
	background: linear-gradient(to right, #358bff, #15c6ff);
	background-size: 200%;
}

a.categoryButton.remen {
	background: linear-gradient(to right, #ff6655, #ffbf37);
	background-size: 200%;
}

a.categoryButton.shiyong {
	background: linear-gradient(to right, #18e7ae, #1eebeb);
	background-size: 200%;
}

details:not(.tk-admin-config-group) summary::marker {
	color: var(--heo-main);
	transition: 0.3s;
}

details[open]:not(.tk-admin-config-group) summary::marker {
	color: var(--heo-white);
}

details:not(.tk-admin-config-group) summary:hover::marker {
	color: var(--heo-white);
}

